.App {
  background: #dac8a0;
  font-family: "Courier Prime", monospace;
  margin: 0 auto;
}
.App .title {
  color: white;
  text-align: center;
  padding: 30px 30px;
}
.App .App-footer {
  padding-bottom: 10px;
  text-align: center;
  color: #ffffff;
}
