.App {
  background: linear-gradient(130deg, #000000, #ffffff);
  font-family: "Courier Prime", monospace;
  margin: 0 auto;
}
.App h2 {
  color: #3e3317;
  margin-bottom: -20px;
}
.App .title {
  color: white;
  text-align: center;
  padding: 30px 30px;
}
.App .App-footer {
  padding-bottom: 10px;
  text-align: center;
  color: #3e3317;
}

@media (max-width: 600px) {
  .App .title {
    color: white;
    text-align: center;
    padding: 20px 20px;
    margin-bottom: -20px;
  }
}
